*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

#container{
    max-width: 700px; 
    margin: 0 auto; 
    background-color: #ededed;
    padding: 25px 0px;
    text-align: center;
    
}

#container,
#container p{
    color: #1f252c; 
}

#container .body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    background-color: #cbcbcb;
    padding: 10px 25px;
}

#container .body button{
    all: unset;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 8px 10px;
    background-color: #0094f9;
    border: 1px solid #0094f9;
    -webkit-appearance: button;
    cursor: pointer;
    display: block;
}
#container .body button.active{
    background-color: #007d27;
    border: 1px solid #007d27;
}
#container .body button.active.selected,
#container .body button.selected{
    border: 1px solid #fff;
    -webkit-box-shadow:0 2px 4px rgb(0 0 0 / 82%);
       -moz-box-shadow:0 2px 4px rgb(0 0 0 / 82%);
            box-shadow:0 2px 4px rgb(0 0 0 / 82%);
}

#container .header p span,
#container .footer p span{
    text-transform: capitalize;
    font-weight: 700;
    padding-left: 5px;
}

#container .header p span{
    color: #0e7e39;
}
#container .footer p span{
    color: #56b0e1;
}

@media all and (max-width: 700px) {
    #container .body button{
        margin: 5px 0;
        width: 100%;
    min-width: 250px;
    }
}